[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "saeHB.ME.beta"]
	path = saeHB.ME.beta
	url = https://github.com/ratihrodliyah/saehb.me.beta
